<section class="top">
  <article>
	<h1>Your cloud based scuba diving log book</h1>
	
	<p class="weak">Log and share your dives. Simple, accessible, secure.</p>
	
	<p class="blue">This system is currently in beta with limited availability. If you would like access, please sign up here.</p>
	
	<p><fb:login-button length="long" onlogin="location.href = '<%= facebook_path %>'" perms="<%= Facebook.config[:perms] %>"></fb:login-button></p>

    <footer>Learn how to use <%= link_to "fb_graph", fb_graph_url %></footer>
  </article>

</section>