/*-----------------]: layout :[---------------------*/

body > h1 {}

body > h1 a, body > h1 a:hover {}

body > .container {
    margin: 10px auto;
    overflow: hidden;
    width: 960px;
}

body > .container .main {
    float: left;
    min-height: 400px;
    width: 660px;
}

body > .container .sidebar {
  float: right;
  text-align: center;
  width: 300px;
}

body > .container img {
  border: 0px solid #ddd;
}

body > .container .sidebar p, body > .container .sidebar dl {
  text-align: left;
  padding-left: 50px;
}

body > footer a {
  color: #AEDEE4;


body > footer, body > footer small {
  clear: both;
  text-align: center;
  font-size: 12px;
}

body > footer li {
  display: inline-block;
  margin: 0 10px;
}