.top ul {
  padding-left: 10px;
}

.top p.weak {
    color: #999999;
    margin-top: 0;
}

.top p.blue {
	padding: 10px;
}

.top h1 {
	background: url('/images/cloud_app.png');
	background-repeat: no-repeat;
    padding-left:135px;
    margin: 0;
}

.top #intro {
    margin-bottom:60px;
    margin-top:60px;    
}

.top #intro p.weak {
    padding-left:135px;
}