.top ul {
  padding-left: 10px;
<<<<<<< HEAD
}

.top h1 {
	margin-bottom: 0;
}

.top p.weak {
    color: #999999;
    margin-top: 0;
}

.top p.blue {
	padding: 10px;
=======
>>>>>>> 0db31fc5412258c7bf66ddc4af7f2f6f73fa7e6b
}