<section class="home">
  <article>
	
	<div id="intro">
    	<h1>Your scuba diving log book in the cloud</h1>
    	<p class="weak">Log and share your dives. Simple, accessible, secure.</p>
	</div>


    	<p class="blue">Scuba Pana is coming soon. Enter your email to hear more about our amazing new app coming soon.</p>
    
  </article>
</section>