<section class="home">
  <article>
	
	<div id="intro">
    	<h1>Your scuba diving log book in the cloud</h1>
    	<p class="weak">Log and share your dives. Simple, accessible, secure.</p>
	</div>

    	<p class="blue">This app is in a very early alpha stage with limited availability, unfinished pieces and plenty of bugs. Use at your own risk.</p>

			<% if user_signed_in? %>
			
  	    <h3 class="btn"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h3>

      <% else %>
      
      	<p class="weak center">Login to get started.</p>
  	    <h3 id="sign_in" class="btn btn-primary"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></h3>
      
      <% end %>

    
  </article>

</section>