<h1>About Dive Panda</h1>
<p>Dive Panda is made for diver by divers to help make it easy to record dive logs.</p>
<p>Our goal is to allow divers to allow diver to easily log their dives, share their dives with friends, and promote the gathering of sub-aqua data by divers everywhere to help the scientific community.</p>
<p>Our oceans are worth caring about. Every time we venture in to the water, we should be able to collect data about what is under the surface and be able to share this with the scientific community. We are all adventurers and should be able to use our dives to help better understand what lies below the waves.</p>
