<h1>About DivePanda</h1>

<p>DivePanda is made for divers by divers to help make it easy to record and (optionally) share your dive logs.</p>

<p>Our goal is to allow divers to easily log their dives, share their dives with friends, and promote the gathering of sub-aqua data by divers everywhere to help the scientific community.</p>

<p>Our oceans are worth caring about. Every time we venture in to the water, we should be able to collect data about what is under the surface and be able to share this data with the scientific community. One of DivePanda's goals is to create a large set of underwater data in which sceintists can use to better understand what lies below the waves. We will notify you as this goal progresses and you will have control over what data is shared.</p>
