<h1>Administration</h1>
<p>This page will include various admin links and information.</p>
<%= Learn how to use <%= link_to "fb_graph", fb_graph_url %>

https://github.com/nov/fb_graph_sample
http://guides.rubyonrails.org/debugging_rails_applications.html
https://developers.facebook.com/apps/189368391107072/summary
http://dikdiktasdiklaksana.wordpress.com/2011/12/01/facebook-app-requests-dialog/