/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/*
 *= require bootstrap_and_overrides
 */

.blue {
	background-color: #D5E9F6;
}

.weak {
	color: #CCC;
}

.highlight {
	background-color: #F4DDA6;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
  clear: both;
}

.grey_background {
    background-color: #f6f6f6;
}


.loading {
    background: url("/assets/ajax/loader-3.gif") no-repeat scroll 0 0 transparent;
    display: none;
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 4px;
    overflow: visible;
    text-indent: 22px;
}

.height50 {
  height: 50px;
}

.height100 {
  height: 100px;
}

.height200 {
  height: 200px;
}

/* Footer */
body > footer a {
  color: #A7A9AA;
}

body > footer a:visited { 
	color: #A7A9AA;
}


body > footer, body > footer small {
  clear: both;
  text-align: center;
  font-size: 12px;
}

body > footer li {
  display: inline-block;
  margin: 0 10px;
}

footer {
    color: #A7A9AA;
    margin: 50px auto 17px;
    overflow: visible;
    padding: 5px;
    width: 700px;    
}

footer p, footer ul, footer ol {
    font: 14px/22px "helvetica neue",helvetica,arial,sans-serif;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer ul li {
	float: left;
	padding-right: 30px;
    font: 14px/22px "helvetica neue",helvetica,arial,sans-serif;
}

/* Authentication */
.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/* Sidebar */
.sidebar .weak {
  font-size: 10px;
}