/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/*
 *= require bootstrap_and_overrides
 */

body {
  padding-top: 80px !important;
}

.blue {
	background-color: #D5E9F6;
}

.weak {
	color: #CCC;
}

.highlight {
	background-color: #F4DDA6;
}

.right {
    float: right;
}

.left {
    float: left;
}

.grey_background {
    background-color: #f6f6f6;
}

.navbar .brand {
    background-repeat: no-repeat;
    background-image: url(/assets/logo/logo-icon-sm.png);
    background-position: 5px 9px;
    text-indent: 5px;
    margin-left: 5px !important;
    color: #333333 !important;
    font-size: 30px !important;
    padding: 1px 20px 12px !important;
}

.navbar-inner {
    background: none repeat scroll 0 0 #F8F8F8 !important;
    border-bottom: 3px solid #DADADA;
    box-shadow: none !important;
    border-top: 2px solid #333333;
    height: 60px !important;
}

.navbar .container {
    margin-top: 10px;
}

.navbar .nav {
    float: right !important;
    margin: 0 10px 0 0;
    position: relative;
}

.navbar .nav > li > a {
  text-shadow: none !important;
  color: #333333 !important;
  font-family: "helvetica neue",helvetica,arial,sans-serif;
  font-size: 20px;
}

/* Footer */
body > footer a {
  color: #A7A9AA;
}

body > footer a:visited { 
	color: #A7A9AA;
}


body > footer, body > footer small {
  clear: both;
  text-align: center;
  font-size: 12px;
}

body > footer li {
  display: inline-block;
  margin: 0 10px;
}

footer {
    color: #A7A9AA;
    margin: 20px auto 0;
    width: 960px;
}

footer p, footer ul, footer ol {
    font: 14px/22px "helvetica neue",helvetica,arial,sans-serif;
}

footer ul {
	list-style: none;
	padding: 0;
}

footer ul li {
	float: left;
	padding-right: 30px;
    font: 14px/22px "helvetica neue",helvetica,arial,sans-serif;
}