<footer>
  <ul>
    <li><small class="copytight">&copy; <%= Time.now.year %> <a href="http://divepanda.com">DivePanda</a></small></li>
	<li>Terms and Conditions</li>
	<li>Privacy</li>
  </ul>
</footer>